In [3]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv(r'shopping_trends.csv')

In [4]:
#Verifying column names to drop uneeded columns
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Payment Method',
       'Shipping Type', 'Discount Applied', 'Promo Code Used',
       'Previous Purchases', 'Preferred Payment Method',
       'Frequency of Purchases'],
      dtype='object')

In [11]:
#dropping unnecessary columns to not clutter the results for the asked business question.
df = df.drop(['Item Purchased','Category','Size','Color','Review Rating','Shipping Type','Discount Applied','Promo Code Used'],axis=1)

In [ ]:
#reseting index
df.reset_index(drop=True,inplace=True)

In [14]:
df

,Customer ID,Age,Gender,Purchase Amount (USD),Location,Season,Subscription Status,Payment Method,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,53,Kentucky,Winter,Yes,Credit Card,14,Venmo,Fortnightly
1,2,19,Male,64,Maine,Winter,Yes,Bank Transfer,2,Cash,Fortnightly
2,3,50,Male,73,Massachusetts,Spring,Yes,Cash,23,Credit Card,Weekly
3,4,21,Male,90,Rhode Island,Spring,Yes,PayPal,49,PayPal,Weekly
4,5,45,Male,49,Oregon,Spring,Yes,Cash,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,28,Virginia,Summer,No,Cash,32,Venmo,Weekly
3896,3897,52,Female,49,Iowa,Spring,No,PayPal,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,33,New Jersey,Spring,No,Credit Card,24,Venmo,Quarterly
3898,3899,44,Female,77,Minnesota,Summer,No,PayPal,24,Venmo,Weekly
3899,3900,52,Female,81,California,Spring,No,Bank Transfer,33,Venmo,Quarterly